<section>
    <div class="container">
        <h1>SpaceX Launch Program</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>fILTERS</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <p class="filter_heading"><b>Launch Year</b></p>
                            <div class="row filters-con">
                                <ul>
                                    <li [class.active] = "apiParams.launch_year == data" (click)="filterDataList('launch_year', data)" *ngFor="let data of dataYear">{{data}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <p class="filter_heading"><b>Successfull Launch</b></p>
                            <div class="row filters-con">
                                <ul>
                                    <li [class.active] = "apiParams.launch_success == true" (click)="filterDataList('launch_success', true)">True</li>
                                    <li [class.active] = "apiParams.launch_success == false" (click)="filterDataList('launch_success', false)">False</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <p class="filter_heading"><b>Successfull Landing</b></p>
                            <div class="row filters-con">
                                <ul>
                                    <li [class.active] = "apiParams.land_success == true" (click)="filterDataList('land_success', true)">True</li>
                                    <li [class.active] = "apiParams.land_success == false" (click)="filterDataList('land_success', false)">False</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/category-products-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items" *ngIf="dataList.length">
                    <!--features_items-->
                    <h2 *ngIf="loadding">Loadding Please wait...</h2>
                    <div class="col-sm-4" *ngFor="let data of dataList">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{data.links.mission_patch}}" alt="" />
                                    <h2>{{data.mission_name}}</h2>
                                    <p>Launching Year : {{data.launch_year}}</p>
                                    <p>Successfull Launch: {{data.launch_success}}</p>
                                    <p>Successfull Landing: {{data.landing_intent}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--features_items-->

            </div>
        </div>
    </div>
</section>